/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

body {
    height: 100%;
    background-color: rgb(69, 149, 224);
    background-size: 100% 400%;
    background-image: linear-gradient(to bottom, rgb(89, 216, 89) 0%, rgb(89, 216, 89) 33.333%, rgb(69, 149, 224) 33.334%, rgb(69, 149, 224) 66.666%, red 66.667%, red 100%);
    background-position: 0 50%;
    transition: background-position 1s;
}

.body-green {
    background-position: 0 0%;
}

.body-blue {
    background-position: 0 50%;
}

.body-red{
    background-position: 0 100%;
}

.spacer {
    width: 92vw;
    margin: 4vw;
}

* {
    color: white;
    font-family: sans-serif;
    margin: 0;
}



h1 {
    font-family: 'Baloo', sans-serif;
    font-size: 5vh;
}

.container {
    display: flex;
    flex-flow: column;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

/* SIGN IN */

.center-box {
    width: 100%;
    margin-top: 30vh;
    height: 20vh;
    margin-bottom: 50vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.center-box #google-align {
    width: 120px;
    display: block;
    margin: 15px auto;
}

.center-box #google-align * {
    color: #757575;
}

/* DASHBOARD */
.header {
    background: rgba(0, 0, 0, 0.1);
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    height: 7vh;
    padding: 0;
}

.header h1 {
    width: 100%;
    padding-left: 1vw;
}

.header * {
    display: flex;
    margin-right: 1vw;
}

.header h5,
.header h6 {
    display: none;
}

.header div {
    float: right;
}

.header div img {
    width: 5vh;
    border-radius: 50%;
    height: 5vh;
    margin: 1vh;
}



.g-sharetoclassroom {
    height: 5vh;
}

#players {
    width: 100%;
}

#players p {
    font-family: 'Baloo', sans-serif;
    font-size: 35px;
    width: 33.333%;
    text-align: center;
    display: inline-block;
}

button {
    width: 300px;
    margin: 5px;
    height: 5vh;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0);
    font-size: 2vh;
}

button:hover {
    border: 2px solid white;
}

.header button {
    flex: 1 0 auto;
    width: auto;
    height: 5vh;
    margin: 1vh;
}

#joinGames {
    padding: 1vw;
}

.gamejoin {
    width: auto;
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 10px;
    border-radius: 7px;
    margin-top: 1vh;
    transition-duration: 0.2s;
    transition-property: background-color;
}

h3{
    color: rgb(65, 65, 65);
}

.gamejoin h3{
    height: auto;
    width: auto;
    font-size: auto;
    flex: 0 1 auto;
    line-height: auto;
}

.gamejoin h3 sup{
    color: inherit;
}

.gamejoin div{
    height: auto;
    width: auto;
    flex: 1 1 auto;
    margin-left: 5px;
}

.gamejoin:hover{
    background-color: #d4d4d4;
}

.gamejoin div h5 {
    color: rgb(65, 65, 65);
}

.gamejoin div h6 {
    color: gray;
}

.totip:after{
    content: attr(data-main)
}

.totip:hover:after{
    content: attr(data-topic);
    color: rgb(65, 65, 65);
}

#pastGames{
    padding: 1vw;
}

.gamestat {
    width: auto;
    display: block;
    background-color: white;
    padding: 10px;
    border-radius: 7px;
    margin-top: 1vh;
}

.gamestat h5 {
    color: rgb(65, 65, 65);
}

.gamestat h6 {
    color: gray;
}

span#link {
    color: orange;
    font-family: 'Baloo', sans-serif;
    margin-left: 0.4ch;
}

.slobby {
    text-align: center;
    width: 100%;
    margin-top: 30vh;
}

.slobby h3 {
    font-family: 'Baloo', sans-serif;
    font-size: 5vh;
}

.slobby h5 {
    font-size: 3vh;
}

form{
    margin: 1vh 1vw;
}

label{
    display: block;
    margin: 0.2vh 2vw;
}

select{
    display: block;
    width: auto;
    margin: 0 auto;
    font-size: 2vh;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0);
}

select:hover{
    border: 2px solid white;
}

select *{
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 2vh;
    color: black;
}

/*question*/
.questiontitle {
    flex: 0 1 auto;
    height: auto;
    width: 100%;
    text-align: center;
}

.exam.questiontitle{
    background-color: white;
    border-radius: 5px;
    text-align: left;
    font-size: 3vh;
    font-weight: 300;
    width: auto;
    font-family: 'Arial';
    color: black;
    margin: 3vh;
    padding: 1vh 1vw;
}

.exam.questiontitle *{
    text-align: left;
    font-family: 'Arial';
    color: inherit;
}

.header .back{
    color: white;
    transition-property: color;
    transition-duration: 0.2s;
}

.header .back:hover{
    color: #d4d4d4;
}

.exam.questiontitle span.bold{
    font-weight: 800;
}

.questiondescription {
    flex: 0 1 auto;
    height: auto;
    font-size: 3vh;
    width: 100%;
}

.questionheader * {
    display: inline-block;
}

.questionheader #timer {
    float: right;
}

#timer {
    width: 3ch;
    text-align: center;
}

.leaderboard {
    width: 100%;
}

.leaderboard h5 {
    width: 100%;
    text-align: center;
    font-size: 4vh;
    font-family: 'Baloo', sans-serif;
}

.answers {
    flex: 0 0 auto;
    height: 90vh;
    padding: 0;
    padding-left: 1vw;
    padding-top: 1vh;
}

.answers * {
    display: inline-block;
    width: 48vw;
    height: 45vh;
    font-size: 3vh;
    margin: 0;
    
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: auto;
}

.answers * div {
    display: table;
}

.answers * div div {
    display: table-cell;
    vertical-align: middle;
}

.answers * div div sup, .answers * div div sub, .answers * div div em {
    display: inline;
}


.answer#answer-0,
.answer#answer-0 * {
    background-color: red;
}

.normal#answer-0 {
    margin-bottom: 1vh;
    margin-right: 1vw;
}

.answer#answer-1,
.answer#answer-1 * {
    background-color: green;

    /*  */
}

.normal#answer-1 {
    margin-bottom: 1vh;
    /* margin-left: 1vw; */
}

.answer#answer-2,
.answer#answer-2 * {
    background-color: orange;

}

.normal#answer-2 {
    margin-right: 1vw;
}

.answer#answer-3,
.answer#answer-3 * {
    background-color: purple;
    /*  */
}

.answers.host * {
    height: 20vh;
}

.incorrectAnswer,
.incorrectAnswer * {
    background-color: red;
}

.correctAnswer,
.correctAnswer * {
    background-color: green;
}

#fullscreenBox {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
    height: 3.5vh;
}

#fullscreenBox button {
    font-size: 1.5vh;
    width: auto;
    height: auto;
    border-radius: 3px;
}

.examAnswer{
    margin-top: 1vh;
    float: left;
    color: black;
}

.examAnswer *{
    color: inherit;
}

.answerCount{
    font-weight: 900;
}

.datalist{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    flex: 0 1 auto;
    margin: 1vh 1vw;
    border-radius: 5px;
    padding: 1vh 0;
    overflow-y: scroll; 
}

.datalist::before{
    content: attr(data-list-title);
    color: #2e2e2e;
    margin-left: 2vw;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0.5vh;
}

.datalist h3{
    height: auto;
    width: auto;
    font-size: auto;
    flex: 0 0 auto;
    line-height: auto;
    color: inherit, #2e2e2e;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.datalist h3 em{
    color: inherit;
}

.datalist h3.title{
    flex: 0 2 auto;
}

.datalist h3 sup{
    color: inherit;
}


.datalist button{
    height: 3vh;
    width: min-content; 
    margin: 0;
    border-radius: 5px;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    font-size: 1.5vh;
    white-space: nowrap;
}

.btn-delete{
    background-color: rgb(248, 26, 26);
}


.datalist div{
    width: auto;
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 5px;
    padding-left: 1vw;
    padding-right: 1vw;
    transition-duration: 0.2s;
    transition-property: background-color;
    min-height: min-content; 
}

.datalist div.clickable:hover{
    background-color: #d4d4d4;
}

.datalist div h3{
    margin-right: 5px;
    font-weight: 500;
}

.datalist div h5 {
    color: rgb(65, 65, 65);
}

.datalist div h6 {
    color: gray;
}

.console{
    background-color: #272727;
    border-radius: 5px;
    font-family: monospace;
    flex: 1 1 auto;
    padding: 1vh 1vw;
}

.status{
    margin: 1vw 1vw;
}

.adminrow{
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    margin: 1vh 1vw;
}

#runningGamesList{
    flex: 1 1 auto;
    margin: 0;
    margin-left: 1vw;
}

div .vline{
    width: 1px;
    height: auto;
    flex: 0 1 auto;
    background-color: rgb(189, 189, 189);
    border: none;
    margin: 0 5px;
    padding: 0;
}

div .hline{
    width: auto;
    height: 1px;
    flex: 0 1 auto;
    background-color: rgb(189, 189, 189);
    border: none;
    margin: 5px 0;
    padding: 0;
}

.good{
    color: rgb(106, 177, 0);
}

.okay{
    color: yellow;
}

.bad{
    color: red;
}

.gold {
    color: rgb(175, 149, 0);
}
.silver{
    color: rgb(194, 194, 194);
}
.bronze{
    color: rgb(160, 37, 0);
}

.feedbackButtons{
    display:flex;
    width: min-content;
    flex-direction: row;
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    margin: 0 auto;
}

.feedbackButtons div{
    background-color: #2e2e2e;
    margin: 0;
    margin-left: 2px;
    font-size: 3vh;
    width: 4ch;
    height: 4ch;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#adminconsole{
    overflow-x: hidden;
    overflow-y: scroll;
}

textarea{
    resize: none;
    color: black;
    border-radius: 3px;
    padding: 3px;
}

.gitstatus{
    display: block;
    background-color: white;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    border-radius: 5px;
    width: max-content;
}

.gitstatus::before{
    content: "Source Control";
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.gitstatus h3{
    font-size: 1em;
    font-weight: normal;
}

.gitstatus p{
    color: black;
}

.gitstatus p span{
    background-color: #757575;
    border-radius: 3px;
    padding: 3px;
    color: white;
}


@media only screen and (min-width: 768px) {
    #fullscreenBox{
        display: none;
    }
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}


[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/*LOADER*/

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  
  .checkmark {
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    display: inline-block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 0;
    margin-left: 1vw;
    overflow: visible;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  }
  
  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
  }